html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
li,
p {
  padding: 0;
  margin: 0;
}

:root {
  --primary-text-black: #212121;
  --primary-text-gray: #757575;
  --text-accent: #2196f3;
  --white: #ffffff;
  --address-footer: rgba(255, 255, 255, 0.6);
  --background-hero: #2f303a;
  --background-team: #f5f4fa;
  --icon-color: #afb1b8;
}

body {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.03em;
  color: var(--primary-text-black);
}

img {
  display: block;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 1px solid var(--background-hero); */
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
}

/* только первый */
.site-nav .item:first-child {
  margin-right: 93px;
}

/* всем кроме последнего */
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .item {
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
}

.contacts-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

/* всем кроме первого  */
.contacts-nav .item + .item {
  margin-left: 50px;
}

.header {
  padding-left: 0;
  padding-right: 0;
}

.logo {
  font-family: Raleway;
  color: var(--text-accent);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
}

.black-logo {
  color: var(--primary-text-black);
}

.white-logo {
  color: var(--white);
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover .svg-envelope,
.address-link:focus .svg-envelope,
.address-link:hover .svg-telephone,
.address-link:focus .svg-telephone,
.link:hover,
.link:focus {
  color: var(--text-accent);
  fill: var(--text-accent);
}

.head-link {
  display: block;
  color: var(--primary-text-black);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::before {
  content: "";
  display: block;

  bottom: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--text-accent);
  border-radius: 2px;
}

.address-link {
  color: var(--primary-text-gray);
  fill: var(--primary-text-gray);
  align-items: center;
  justify-content: center;
  /* display: flex; */

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-envelope {
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 12px;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-telephone {
  align-items: center;
  justify-content: center;
  width: 10px;
  height: 16px;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section {
  padding-top: 94px;
}

.hero {
  color: var(--white);
  background-color: var(--background-hero);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding-top: 200px;
  padding-bottom: 200px;
  align-items: center;
}

.hero-bg {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  margin-bottom: 30px;
}

.btn {
  background-color: var(--text-accent);
  display: inline-block;

  border-radius: 4px;
  padding: 15px 32px;
  min-width: 200px;
  border: 1px solid transparent;

  color: var(--white);

  font-weight: 700;
  font-size: 16px;
  font: inherit;
  line-height: 1.87;
}

/* Преимущества */

.bottom-padding {
  padding-bottom: 94px;
}

.feature {
  margin-bottom: 30px;
}

.feature-list {
  display: flex;
}

.feature-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.feature-svg {
  width: 70px;
  height: 70px;
}

.feature-list .item {
  width: 270px;
}

.feature-list .item:not(:last-child) {
  margin-right: 30px;
}

.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-transform: uppercase;
  color: var(--primary-text-black);
  padding-bottom: 10px;
}

.description {
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-gray);
}

/* Portfolio */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  color: var(--primary-text-black);
  margin-bottom: 50px;
}

.portfolio {
  display: flex;
}

.portfolio .item {
  position: relative;
}

.portfolio .item:not(:last-child) {
  margin-right: 30px;
}

/* .thumb {
  position: relative;
  margin: 10px;
} */

.thumb > .label {
  position: absolute;
  display: flex;
  width: 100%;
  padding: 0;
  bottom: 0;
  justify-content: center;
  padding: 27px 80px;

  background-color: rgba(47, 48, 58, 0.8);
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.172;
  text-transform: uppercase;
  color: var(--white);
  /* border-color: red; */
}

/* Team */
.team {
  padding-top: 94px;
}

.background-team {
  background-color: var(--background-team);
}

.team-padding {
  display: flex;
  padding-bottom: 50px;
  justify-content: center;
}

.team-item {
  width: 270px;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;

  text-align: center;
  color: var(--primary-text-black);
  background-color: var(--white);
  border: 1px solid transparent;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-item:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-name {
  margin-top: 30px;
}

.team .description {
  width: 270px;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;

  text-align: center;
  color: var(--primary-text-black);
  background-color: var(--white);

  font-weight: normal;
  color: var(--primary-text-gray);
  margin-top: 10px;
}

.social-icons {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.social-icons-item:not(:last-child) {
  margin-right: 10px;
}

.social-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--white);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-svg {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-link:hover .social-icons-svg,
.social-icons-link:hover,
.social-icons-link:focus .social-icons-svg,
.social-icons-link:focus {
  background-color: var(--text-accent);
  fill: var(--white);
}

.clients {
  display: flex;
  padding-bottom: 94px;
}

.clients .item:not(:last-child) {
  margin-right: 30px;
}

.clients-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  background-color: var(--white);
  width: 170px;
  height: 90px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-svg {
  fill: var(--icon-color);
  min-width: 45px;
  height: 50px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-box:hover,
.clients-box:focus {
  border: 1px solid var(--text-accent);
}

.clients-box:hover .clients-svg,
.clients-box:focus.clients-svg {
  fill: var(--text-accent);
}

.footer {
  background-color: var(--background-hero);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.padding-footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-address {
  color: var(--white);
  text-decoration: none;
}

.footer-address .item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address .item:first-child {
  margin-top: 20px;
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.flex-footer {
  display: flex;
}

.addresses {
  width: 231px;
}

.join-us {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 70px;
  width: 206px;
}

.join-section {
  margin-bottom: 20px;
  color: var(--white);

  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.social-icons-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-svg-footer {
  width: 20px;
  height: 20px;
  fill: var(--white);
}

.social-icons-link-footer:hover .social-icons-svg,
.social-icons-link-footer:hover,
.social-icons-link-footer:focus .social-icons-svg,
.social-icons-link-footer:focus {
  background-color: var(--text-accent);
}

.subscription {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 93px;
}

.subscription-form {
  display: flex;
}

.mail-subscription {
  width: 358px;
  height: 50px;
  padding-left: 15px;

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  color: rgba(255, 255, 255, 0.6);

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  outline: rgba(255, 255, 255, 0.3);
}

.btn-subscription {
  margin-left: 12px;
  display: inline-block;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  border: 1px solid transparent;
  text-align: left;

  color: var(--white);
  background-color: var(--text-accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-sub-span {
  padding-left: 29px;
}

.sub-btn-svg {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.svg-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-left: 10px;
  margin-right: 28px;

  transform: translateY(-50%);
}

/* Модальное окно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*когда бекдроп спрятан - для js */
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

/* модалка спрятана - для js */
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

/* когда показано */
.modal {
  position: absolute;
  position: relative;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) scale(1);

  height: 581px;
  width: 528px;
  /* padding: 15px; */

  background-color: #fff;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 8px;
  margin-right: 8px;

  width: 30px;
  height: 30px;

  background-color: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.svg-modal {
  width: 18px;
  height: 18px;
}

.form-svg {
  position: relative;
  display: flex;
}

.label-name {
  display: block;
  margin-top: 12px;

  color: var(--primary-text-gray);

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.input-form {
  position: relative;
  display: block;
  width: 100%;
  height: 41px;
  margin-top: 4px;
  padding-left: 41px;

  border: 1px solid rgba(33, 33, 33, 0.2);

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-sizing: border-box;
  border-radius: 4px;

  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  text-align: left;
  color: var(--primary-text-gray);

  outline: none;
}

.input-form:focus,
.input-form:hover,
.form_comment:hover,
.form_comment:focus {
  border: 1px solid var(--text-accent);
  cursor: pointer;
}

.input-form:focus + .svg-icon,
.input-form:hover + .svg-icon {
  fill: var(--text-accent);
}

.svg-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  fill: var(--primary-text-black);
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* align-items: center;
  justify-content: center; */
}

.svg-icon:nth-child(1) {
  width: 12px;
  height: 12px;
}

.svg-icon:nth-child(2) {
  width: 13px;
  height: 13px;
}

.svg-icon:nth-child(3) {
  width: 15px;
  height: 12px;
}

.modal-info {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.09;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-black);
}

.request-form {
  padding-top: 40px;
  padding-left: 41px;
  padding-right: 39px;
  padding-bottom: 40px;
}

.form_comment {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  margin-top: 4px;
  padding: 16px 12px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  text-align: left;
  color: var(--primary-text-gray);

  outline: none;
}

.acceptation {
  /* display: inline-block; */
  padding-right: 51px;
  margin-left: 9px;
}

.label-accept {
  color: var(--primary-text-gray);

  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.01em;
}

.accept-span {
  color: var(--text-accent);
  text-decoration: underline;
}

.acceptation-form {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox {
  position: absolute;
  padding-right: 52px;

  border: transparent;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon {
  margin-right: 9px;

  display: inline-block;
  width: 16px;
  height: 15px;

  border: 2px solid #2a2a2a;
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .icon {
  border-color: var(--text-accent);
  background-color: var(--text-accent);
  padding: 3px;

  background-image: url(../images/icons/vector.svg);

  background-position: center;
  background-size: contain;
  /* background-origin: border-box; */
}

.btn-div {
  display: flex;
  justify-content: center;
}

.btn-modal {
  margin-top: 30px;
  /* margin-left: 0 auto; */
  /* margin-right: 98px; */
  justify-content: center;
  display: inline-block;
  border-radius: 4px;
  padding: 10px 55px;
  width: 200px;
  border: 1px solid transparent;

  color: var(--white);
  background-color: var(--text-accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-weight: 700;
  font-size: 16px;
  font: inherit;
  line-height: 1.87;
}
