.logo {
  font-family: Raleway;
  color: var(--text-accent);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
}

.black-logo {
  color: var(--primary-text-black);
}

.white-logo {
  color: var(--white);
}
